.rowNotifications {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    position: relative;
}

.columnNotifications {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 7%;
    height: 100%;
    width: 96%;
    background: rgb(255, 255, 255);
}

.header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.containBtnNotification {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.columnContainBtnNotification {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
    color: red;
}

.header button {
    width: 9rem;
    height: 2rem;
    display: flex;
    color: white;
    background: linear-gradient(rgb(57, 57, 58), rgb(44, 44, 44));
    box-shadow: 2px 2px 2px gray;
    border: none;
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    margin-left: 1rem;
}

.header button:hover {
    background: linear-gradient(rgb(42, 42, 43), rgb(44, 44, 44));
    cursor: pointer;
}
.header img {
    width: 24px;
    height: 24px;
}

.titlePC {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    color: black;
    font-size: 17px;
}
.titlePC img {
    width: 45px;
    height: 45px;
}

.containAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 17px;
    height: 70vh;
    color: rgb(114, 114, 114);
}
.containAlert img {
    width: 124px;
    height: 124px;
    opacity: 95%;
}

.loadingNotifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 18px;
    height: 70vh;
    color: rgb(114, 114, 114);
}

.loadingNotifications img {
    width: 65px;
    height: 65px;
}

@media only screen and (max-width: 699px) {
    .rowNotifications {
        height: 100vh;
        width: 100vw;
    }

    .columnNotifications {
        margin-left: 0;
        height: 100%;
        width: 100vw;
        background: rgb(255, 255, 255);
    }

    .header {
        width: 100vw;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containBtnNotification {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    .columnContainBtnNotification {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.4rem;
        color: red;
    }

    .header button {
        width: 11rem;
        height: 2.3rem;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 55px;
        gap: 0.5rem;
        margin-left: 0;
    }

    .header img {
        width: 26px;
        height: 26px;
    }

    .titlePC {
        display: none;
    }

    .containAlert {
        gap: 0.5rem;
        font-size: 15px;
        height: 70vh;
        color: rgb(99, 99, 99);
        text-align: center;
        width: 74%;
    }
    .containAlert img {
        width: 97px;
        height: 97px;
        opacity: 95%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .columnNotifications {
        margin-left: 0;
        height: 100%;
        width: 100%;
    }
    .header {
        width: 100vw;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containBtnNotification {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    .columnContainBtnNotification {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.4rem;
        color: red;
    }

    .header button {
        width: 11rem;
        height: 2.3rem;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 55px;
        gap: 0.5rem;
        margin-left: 0;
    }

    .header img {
        width: 26px;
        height: 26px;
    }

    .titlePC {
        display: none;
    }

    .containAlert {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 17px;
        height: 70vh;
        color: rgb(114, 114, 114);
    }
    .containAlert img {
        width: 124px;
        height: 124px;
        opacity: 95%;
    }

    .loadingNotifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 18px;
        height: 70vh;
        color: rgb(114, 114, 114);
    }

    .loadingNotifications img {
        width: 65px;
        height: 65px;
    }
}
