.containBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(
      circle at 40% 91%,
      rgba(50, 34, 141, 0.04) 0%,
      rgba(50, 34, 141, 0.04) 50%,
      rgba(68, 21, 203, 0.04) 50%,
      rgba(68, 21, 203, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(188deg, rgb(34, 105, 237), rgb(31, 14, 69));
  margin: auto;
}

.containBody .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.containBody .title img {
  width: 51px;
}
.containBody h2 {
  font-weight: bold;
  color: rgb(253, 253, 253);
  font-size: 23px;
}

.containForm {
  display: flex;
  font-size: 17px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 1rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  width: 22rem;
  border-radius: 4px;
}

.containForm h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm input {
  width: 16rem;
  height: 2.3rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.containForm input:hover {
  border: 2px solid blue;
}
.containForm .viewPassword {
  width: 17px;
  position: absolute;
  left: 17.7rem;
  top: 2.3rem;
}

.containForm button {
  margin-top: 1rem;
  width: 11rem;
  font-size: 17px;
  height: 1.9rem;
  background-color: rgb(13, 13, 185);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.alertInput {
  color: rgb(202, 0, 0);
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  gap: 0.4rem;
  width: 18rem;
}
.alertInput img {
  width: 16px;
  height: 18px;
}

.containForm button:hover {
  background-color: rgb(14, 14, 158);
}

.containNewPassword,
.containRepeatPassword {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  position: relative;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: gray;
}
.loading img {
  width: 22px;
  height: 22px;
}

.error {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(219, 2, 2);
  font-size: 16px;
  gap: 0.6rem;
  width: 16rem;
  padding: 0.4rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 2px 2px 2px rgb(231, 69, 69);
  border-bottom: 3px solid rgb(245, 32, 32);
}
.error img {
  width: 22px;
  height: 24px;
}

@media only screen and (max-width: 699px) {

  .containForm {
    width: 19rem;
    padding-top: 0;
  }

  .containForm input {
    width: 15rem;
    height: 2.3rem;
  }

  .containForm .viewPassword {
    left: 17rem;
    top: 2.2rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .containBody {
    overflow-y: scroll;
    padding-bottom: 9rem;
    padding-top: 5rem;
  }
}
