.containBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.containBody h2 {
  font-weight: bold;
  color: rgb(14, 14, 194);
  margin-top: 7rem;
}

.containForm {
  display: flex;
  font-size: 17px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(0, 0, 0);
  width: 19rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px gray;
}

.containForm h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm input {
  width: 14rem;
  height: 2.3rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.containForm input:hover {
  border: 2px solid blue;
}
.containForm img {
  width: 22px;
  position: absolute;
  left: 15.7rem;
  top: 2.1rem;
}

.containForm button {
  margin-top: 1rem;
  width: 11rem;
  font-size: 17px;
  height: 1.9rem;
  background-color: rgb(13, 13, 185);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.alertInput {
  color: rgb(202, 0, 0);
}

.containForm button:hover {
  background-color: rgb(14, 14, 158);
}

.containNewPassword,
.containRepeatPassword {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  position: relative;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: gray;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 2, 2);
}

@media (min-width: 375px) and (max-width: 478px) {
  .containBody {
    gap: 1rem;
    height: 80vh;
    width: 100%;
    font-size: 19px;
  }
  .containBody h2 {
    font-size: 23px;
    margin-top: 8rem;
  }

  .containForm {
    font-size: 15px;
    width: 18rem;
    height: 25rem;
  }

  .containForm h3 {
    gap: 1rem;
    font-size: 18px;
  }

  .containForm form {
    gap: 2rem;
    height: 23rem;
    width: 21rem;
  }

  .containForm label {
    font-size: 16px;
  }

  .containForm input {
    width: 13rem;
    height: 2.5rem;
    font-size: 16px;
  }

  .containForm img {
    width: 23px;
    left: 14.5rem;
    top: 2.2rem;
  }

  .containForm button {
    margin-top: 1rem;
    width: 11rem;
    font-size: 17px;
    height: 2rem;
  }
  .alertInput {
    color: rgb(202, 0, 0);
    font-size: 16px;
  }

  .containForm button:hover {
    background-color: rgb(14, 14, 158);
  }

  .loading {
    font-size: 16px;
  }

  .error {
    font-size: 16px;
  }
}

@media (min-width: 667px) and (max-width:915px) {
  .containBody h2 {
    margin-top: 3rem;
  }

  .containForm {
    font-size: 15px;
    color: rgb(0, 0, 0);
    width: 23rem;
  }

  .containForm h3 {
    font-size: 17px;
  }

  .containForm form {
    width: 23rem;
  }

  .containForm input {
    width: 14rem;
    height: 2.3rem;

    font-size: 16px;
  }

  .containForm button {
    margin-top: 1rem;
    width: 8rem;
    font-size: 15px;
    height: 1.9rem;
  
  }
  
}
