.bodyContainAlert {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgba(250, 250, 250, 0.9);
}

.containAlert {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.bodyAlert {
  font-size: 17px;
  width: auto;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bodyAlert img {
  width: 55px;
}

.containAlert .containButton {
  display: flex;
  justify-content: center;
  width: 105%;
}
.containAlert button {
  border: none;
  background: rgb(223, 91, 2);
  height: 2.5rem;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
  width: 11rem;
  border-radius: 19px;
  cursor: pointer;
  font-weight: bold;
}

.containAlert button img {
  width: 32px;
}

.containAlert button:hover {
  background: rgb(194, 79, 3);
}

@media (min-width: 375px) and (max-width: 478px) {
  .bodyAlert {
    font-size: 15px;
  }

  .bodyAlert img {
    width: 45px;
  }

  .containAlert button img {
    width: 28px;
  }
}

@media (min-width: 667px) and (max-width: 915px) {
  .bodyContainAlert {
    position: absolute;
    width: 100%;
    height: 200vh;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items:start;
    color: black;
    background: rgba(250, 250, 250, 0.9);
  }

  .bodyAlert {
    font-size: 15px;
    margin-top: 12rem;
  }

  .bodyAlert img {
    width: 45px;
  }

  .containAlert button img {
    width: 28px;
  }
}
