.containStatistics {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.containStatistics .header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 1rem;
  width: 18rem;
  color: rgb(107, 107, 107);
  box-shadow: 2px 2px 2px grey;
  border: 1px solid rgb(177, 177, 177);
  border-bottom: navajowhite;
  padding: 0.6rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
}

.containStatistics .header img {
  width: 33px;
}

.containStatistics .body {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 18.2rem;
  height: 28.5rem;
  border: 1px solid rgb(177, 177, 177);
  background-color: white;
  box-shadow: 2px 2px 2px grey;
}

.containStatistics .body ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  color: rgb(102, 102, 102);
  padding-bottom: 0.5rem;
}

.containStatistics .body li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.containStatistics .body li img {
  width: 15px;
}

.dataShow {
  display: block;
}

.dataHide {
  display: none;
}

.noDataShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 89%;
  width: 100%;
  color: grey;
}

.noDataShow img {
  width: 85px;
  opacity: 76%;
  padding-left: 0.6rem;
}

.noDataHide {
  display: none;
}

.loadingShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 19px;
  width: 100%;
  height: 80%;
}
.loadingShow img {
  width: 50px;
  opacity: 60%;
}

.loadingShow span {
  opacity: 80%;
}

.loadingHide {
  display: none;
}

@media (min-width: 375px) and (max-width: 478px) {
  .containStatistics {
    padding-left: 0rem;
    padding-bottom: 2rem;
  }

  .containStatistics .header {
    font-size: 16px;
    width: 18rem;
  }

  .containStatistics .header img {
    width: 33px;
  }

  .containStatistics .body {
    width: 18.2rem;
    height: 21.5rem;
  }
  .containStatistics .body li img {
    width: 15px;
  }

  .dataShow {
    display: block;
  }

  .dataHide {
    display: none;
  }

  .noDataShow img {
    width: 66px;
    opacity: 76%;
    padding-left: 0.6rem;
  }

  .loadingShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 18px;
    width: 100%;
    height: 80%;
  }
  .loadingShow img {
    width: 50px;
    opacity: 60%;
  }

  .loadingShow span {
    opacity: 80%;
  }

  .loadingHide {
    display: none;
  }
}

@media (min-width: 667px) and (max-width: 915px) {
  .containStatistics {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .containStatistics .header {
    font-size: 14px;
    width: 34rem;
  }

  .containStatistics .header img {
    width: 31px;
  }

  .containStatistics .body {
    width: 34.2rem;
    height: 20rem;
  }

  .containStatistics .body li img {
    width: 15px;
  }

  .dataShow {
    display: block;
  }

  .dataHide {
    display: none;
  }

  .loadingShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 19px;
    width: 100%;
    height: 80%;
  }
  .loadingShow img {
    width: 50px;
    opacity: 60%;
  }

  .loadingShow span {
    opacity: 80%;
  }

  .loadingHide {
    display: none;
  }
}
