.listNotifications {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 1rem;
    background-color: white;
    padding-bottom: 1rem;
}

.listNotifications li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 100%;
    gap: 0.5rem;
    height: auto;
    border: 1px solid rgb(209, 209, 209);
    border-left: 0;
    border-right: 0;
    position: relative;
    background: white;
}

.listNotifications .sent {
    background: rgb(231, 231, 231);
}
.listNotifications .seen {
    background: white;
}

.listNotifications li img {
    width: 35px;
    height: 35px;
}
.listNotifications .icon {
    border-radius: 100px;
    font-size: 29px;
    width: 3.6rem;
    height: 3.5rem;
    border: 1px solid rgb(206, 206, 206);
    background: linear-gradient(rgb(139, 191, 233), rgb(27, 90, 161));
    background-size: 29rem;
    margin-left: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listNotifications .stateNotification {
    position: absolute;
    width: 99%;
    display: flex;
    align-items: start;
    justify-content: end;
    top: 0.3rem;
}
.listNotifications .stateNotification img {
    width: 26px;
    height: 26px;
}

.listNotifications .column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    margin-left: 0.5rem;
    width: 98%;
}

.listNotifications .datetimeTask {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
    font-size: 15px;
    font-weight: bold;
    width: auto;
}

.listNotifications .datetimeTask img {
    width: 24px;
    height: 24px;
}

.listNotifications .bodyNotification {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    width: 78%;
}
.listNotifications .bodyNotification h4 {
    font-size: 16px;
}

.listNotifications .dataTask {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.1rem;
    width: 95%;
}

.listNotifications .dataTask p {
    font-size: 16px;
    width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.listNotifications .datetimeNotification {
    width: 91%;
    height: 4.3rem;
    margin-top: -0.4rem;
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
}
@media only screen and (max-width: 699px) {
    .listNotifications {
        width: 100%;
        margin-top: 0;
        border-top: 1px solid gray;
        padding-top: 1rem;
    }

    .listNotifications li {
        height: 5.4rem;
    }

    .listNotifications li img {
        width: 35px;
        height: 35px;
    }
    .listNotifications .icon {
        font-size: 22px;
        padding: 1.5rem;
        width: 0;
        height: 0;
        border-radius: 100%;
        margin-left: 0.5rem;
    }

    .listNotifications .stateNotification {
        width: 99%;
    }
    .listNotifications .stateNotification img {
        width: 26px;
        height: 26px;
    }

    .listNotifications .column {
        gap: 1rem;
        margin-left: 0.5rem;
        width: 98%;
        height: 100%;
    }

    .listNotifications .datetimeTask {
        gap: 0.4rem;
        font-size: 12px;
        width: 15rem;
        margin-top: 0.4rem;
    }

    .listNotifications .bodyNotification {
        font-size: 12px;
    }
    .listNotifications .bodyNotification h4 {
        font-size: 13px;
    }

    .listNotifications .dataTask p {
        font-size: 14px;
    }

    .listNotifications .datetimeNotification {
        width: 78%;
        font-size: 13px;
        height: 96%;
        position: absolute;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .listNotifications {
        padding-bottom: 1rem;
    }

    .listNotifications li {
        height: 7rem;
    }

    .listNotifications li img {
        width: 35px;
        height: 35px;
    }
    .listNotifications .icon {
        font-size: 24px;
        padding: 2rem;
        width: 0;
        height: 0;
    }

    .listNotifications .stateNotification {
        width: 99%;
    }
    .listNotifications .stateNotification img {
        width: 26px;
        height: 26px;
    }

    .listNotifications .column {
        gap: 1rem;
        margin-left: 0.5rem;
        width: 98%;
        height: 100%;
    }

    .listNotifications .datetimeTask {
        width: 95%;
        margin-top: 0.5rem;
    }

    .listNotifications .datetimeNotification {
        width: 85%;
        font-size: 13px;
        height: 99%;
        position: absolute;
    }
}
