.containBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../../assets/img/backgroundHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.containBody .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.containBody .title img {
  width: 51px;
}
.containBody h2 {
  font-weight: bold;
  color: rgb(253, 253, 253);
  font-size: 23px;
}

.containForm {
  display: flex;
  font-size: 17px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 19rem;
  border-radius: 4px;
}

.containForm h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containForm input {
  width: 16rem;
  height: 2.3rem;
  padding-left: 1rem;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.containForm input:hover {
  border: 2px solid rgb(100, 143, 207);
}

.containForm button {
  margin-top: 1rem;
  position: relative;
  width: 11rem;
  font-size: 17px;
  height: 1.9rem;
  background: linear-gradient(rgb(5, 77, 105), rgb(44, 108, 134));
  border: none;
  border-radius: 44px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.alertInput {
  color: rgb(202, 0, 0);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.alertInput img {
  width: 17px;
  height: 18px;
}

.containForm button:hover {
  background: linear-gradient(rgb(5, 77, 105), rgb(68, 115, 185));
}

.containMail {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: gray;
}
.loading img {
  width: 22px;
  height: 22px;
}

.error {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(219, 2, 2);
  font-size: 16px;
  gap: 0.6rem;
  width: 16rem;
  padding: 0.4rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 2px 2px 2px rgb(231, 69, 69);
  border-bottom: 3px solid rgb(245, 32, 32);
}
.error img {
  width: 22px;
  height: 24px;
}

@media only screen and (max-width: 699px) {
  .containBody .title {
    margin-top: -6rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .containBody {
    padding-bottom: 4rem;
  }
  .containBody .title {
    padding-top: 1rem;
  }
}
