.containWelcome {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: radial-gradient(
      circle at 40% 91%,
      rgba(50, 34, 141, 0.04) 0%,
      rgba(50, 34, 141, 0.04) 50%,
      rgba(68, 21, 203, 0.04) 50%,
      rgba(68, 21, 203, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(188deg, rgb(34, 105, 237), rgb(31, 14, 69));
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.welcome h3 {
  font-size: 22px;
}
.welcome img {
  width: 130px;
  margin-top: 5rem;
}
.welcome p {
  font-size: 19px;
}

.linkLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 17px;
}
.linkLogin a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.linkLogin a:hover {
  opacity: 80%;
}

@media only screen and (max-width: 699px) {
  .containWelcome {
    display: none;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .containWelcome {
    display: none;
  }
}
