.containMsj {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border: 1px solid grey;
  border-bottom: 6px solid rgb(8, 158, 163);
  box-shadow: 2px 2px 2px rgb(41, 41, 41);
  border-radius: 3px;
  color: black;
  position: absolute;
  margin: auto;
  top: -15rem;
  padding: 1rem;
  animation-name: showAlert;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showAlert {
  from {
    top: -15rem;
  }

  to {
    top: 2rem;
  }
}
.containMsj img {
  width: 27px;
}

.containMsj p {
  width: 27rem;
}

.containMsj a {
  font-weight: bold;
}

@media only screen and (max-width: 699px) {
  .containMsj p {
    width: 16rem;
  }
}
