.rowTodoList {
  display: flex;
  align-items: start;
  justify-content: start;
}

.contentBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
  height: 100vh;
  width: 96%;
  background: rgb(255, 255, 255);
}

.containTasks {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  font-size: 19px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 1rem;
}

.header .rowHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header .title img {
  width: 35px;
}

.tasks,
.tasksSearched {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 69%;
  width: 97%;
  gap: 1rem;
  overflow-y: scroll;
  border-bottom: 2px solid rgb(190, 190, 190);
  overflow-x: hidden;
  padding: 0.5rem 1rem 2rem 1rem;
}

.tasksSearched {
  height: 85%;
}

.loadingShow {
  font-size: 16px;
  color: rgb(49, 49, 49);
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  gap: 0.5rem;
  height: 95%;
}
.loadingShow img {
  width: 62px;
  height: 62px;
}
.warningShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 95%;
  font-size: 18px;
}

.warningShow img {
  width: 111px;
  padding-left: 1.2rem;
}

.taskNotFoundShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  height: 71%;
  font-size: 18px;
  color: rgb(61, 61, 61);
}

.taskNotFoundShow img {
  width: 111px;
}

.taskNotFoundHide {
  display: none;
}

@media only screen and (max-width: 699px) {
  .header .title {
    display: none;
  }

  .rowTodoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: auto;
    margin-top: 0;
  }

  .contentBody {
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
    margin-left: 0;
    height: 100vh;
    width: 100%;
  }

  .containTasks {
    width: 99%;
    height: auto;
    margin-top: 4rem;
    border: none;
    justify-content: start;
    box-shadow: none;
  }

  .containTasks .header {
    display: none;
  }

  .tasks,
  .tasksSearched {
    height: 72vh;
    width: 91%;
    padding-bottom: 1rem;
  }

  .tasksSearched {
    height: 95%;
    padding-top: 1rem;
  }

  .loadingShow {
    font-size: 15px;
    color: rgb(49, 49, 49);
    opacity: 80%;
    gap: 0.5rem;
    height: 72vh;
  }
  .loadingShow img {
    width: 62px;
    height: 62px;
  }
  .warningShow {
    gap: 1rem;
    height: 72vh;
    font-size: 15px;
  }

  .warningShow img {
    width: 100px;
    padding-left: 1.2rem;
  }

  .taskNotFoundShow {
    font-size: 16px;
    height: 72vh;
  }

  .taskNotFoundShow img {
    width: 100px;
  }
}
@media only screen and (min-width: 665px) and (max-width: 1024px) {
  .header .title {
    display: none;
  }
  .rowTodoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: auto;
    margin-top: 0;
  }

  .tasks,
  .tasksSearched {
    width: 95%;
    height: 72vh;
  }

  .contentBody {
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .containTasks {
    width: 100%;
    height: auto;
    margin-top: 4.5rem;
    justify-content: start;
    box-shadow: none;
  }

  .containTasks .header {
    display: none;
  }

  .loadingHide {
    display: none;
  }

  .loadingShow {
    font-size: 15px;
    color: rgb(49, 49, 49);
    opacity: 80%;
    gap: 0.5rem;
    height: 72vh;
  }
  .loadingShow img {
    width: 72px;
    height: 72px;
  }

  .warningShow {
    height: 72vh;
  }
  .warningShow img {
    width: 80px;
    padding-left: 1.2rem;
  }

  .taskNotFoundShow {
    font-size: 15px;
    height: 72vh;
  }

  .taskNotFoundShow img {
    width: 100px;
  }
}
