.rowTodoList {
  display: flex;
  align-items: start;
  justify-content: start;
}

.contentBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  margin-left: 6%;
  width: 96%;
}

.containTasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin: auto;
  width: 95%;
  height: 99vh;
  background-color: white;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid rgb(212, 212, 212);
  padding-bottom: 1rem;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  font-size: 19px;
  background: linear-gradient(#f8f8f8, rgb(221, 221, 221));
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 1rem;
}

.header .rowHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 99%;
}

.header .title img {
  width: 45px;
}

.header .addTask {
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 7rem;
  height: 1.7rem;
  background-color: rgb(6, 187, 6);
  font-size: 13px;
  font-weight: bold;
  gap: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  border-radius: 99px;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
}

.containTasks .header button::before {
  content: "Add task";
}
.header button:hover {
  background-color: rgb(16, 168, 16);
}

.header button img {
  width: 12px;
  height: 12px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 96%;
  margin-top: 1rem;
  overflow-y: scroll;
  border-bottom: 2px solid rgb(190, 190, 190);
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loadingHide {
  display: none;
}

.loadingShow {
  font-size: 16px;
  color: rgb(49, 49, 49);
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 95%;
}
.loadingShow img {
  width: 82px;
  height: 82px;
}
.warningShow {
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 95%;
  font-size: 18px;
}

.warningShow img {
  width: 111px;
  padding-left: 1.2rem;
}

.warningHide {
  display: none;
}

.taskNotFoundShow {
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  height: 20rem;
  font-size: 18px;
}

.taskNotFoundShow img {
  width: 111px;
}

.taskNotFoundHide {
  display: none;
}

@media only screen and (max-width: 699px) {
  .rowTodoList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    margin-top: 0;
  }

  .contentBody {
    margin-top: 7rem;
    margin-left: 0;
    width: 96%;
  }

  .containTasks {
    width: 95%;
    height: 99vh;
    background-color: white;
    border: none;
    box-shadow: none;
  }

  .containTasks .header {
    gap: 1rem;
    background: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
    width: 110%;
  }

  .containTasks .header .rowHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .containTasks .header .title img {
    width: 32px;
  }

  .containTasks .header .addTask {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
  }

  .containTasks .header button {
    width: 4rem;
    height: 1.7rem;
    background-color: rgb(6, 187, 6);
    font-size: 13px;
    margin-top: -0.1rem;
  }

  .containTasks .header button::before {
    content: "Add";
  }

  .containTasks .header button img {
    width: 12px;
    height: 12px;
  }

  .tasks {
    height: 100%;
    width: 91%;
  }

  .loadingHide {
    display: none;
  }

  .loadingShow {
    font-size: 15px;
    color: rgb(49, 49, 49);
    opacity: 80%;
    gap: 0.5rem;
    height: 95%;
  }
  .loadingShow img {
    width: 72px;
    height: 72px;
  }
  .warningShow {
    opacity: 70%;
    gap: 1rem;
    height: 95%;
    font-size: 15px;
  }

  .warningShow img {
    width: 100px;
    padding-left: 1.2rem;
  }

  .taskNotFoundShow {
    opacity: 70%;
    font-size: 16px;
  }

  .taskNotFoundShow img {
    width: 100px;
  }
}
