.options {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.options button {
    width: 2.7rem;
    height: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: none;
    border: none;
    cursor: pointer;
    background: none;
}

.options .btnUpdate {
    filter: grayscale(0%);
}
.options .btnUpdateDisabled {
    filter: grayscale(65%);
}

.options img {
    width: 33px;
    cursor: pointer;
}

.options img:hover {
    transform: scale(1.1);
}
.options .btnUpdateDisabled img:hover {
    transform: scale(1.0);
    cursor: auto;
}

@media only screen and (max-width: 699px) {
    .options {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;
        width: 86%;
        margin-left: 2.8rem;
    }

    .buttons {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.3rem;
        width: auto;
        animation-name: showButtons;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes showButtons {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(0.9);
        }
    }

    .buttons button {
        width: auto;
        height: 1.6rem;
        list-style: none;
    }

    .buttons img {
        width: 24px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .buttons button {
        width: 2.5rem;
        height: 2.3rem;
        list-style: none;
    }
    .buttons button img {
        width: 28px;
        height: 28px;
    }
}
