.form .title {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form .title img {
  width: 130px;
}
.form .title h3 {
  font-size: 20px;
}

.form {
  width: 50%;
  height: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.form form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  font-size: 18px;
}
.form label {
  font-size: 16px;
  margin-left: 0.5rem;
}

.form input {
  padding-left: 2.5rem;
  border-radius: 75px;
  width: 17rem;
  height: 2.5rem;
  font-size: 16px;
  border: 2px solid rgb(204, 204, 204);
  outline: none;
}

.form form input::placeholder {
  color: rgb(87, 87, 87);
  font-size: 16px;
}

.form form input:hover {
  border: 3px solid rgb(39, 152, 172);
}

.containUsername,
.containPassword {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  position: relative;
}

.containPassword {
  position: relative;
}
.containPassword .showPassword {
  position: absolute;
  width: 19px;
  margin-top: 2.5rem;
  cursor: pointer;
  margin-left: 17.4rem;
}

.form form .containPassword input {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 14.4rem;
}
.form input {
  background-position-y: 0.6rem;
  background-position-x: 0.7rem;
  background-size: 20px;
  background-repeat: no-repeat;
}

.form .titleResponsive {
  display: none;
}

.form .haveAccountResponsive {
  display: none;
}

.containUsername input {
  background-image: url("../../../assets/img/email.png");
  background-size: 22px;
  background-position-y: 0.5rem;
}

.containPassword input {
  background-image: url("../../../assets/img/lock.png");
  background-size: 22px;
  background-position-y: 0.5rem;
}

.containSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.containSignIn button {
  width: 14rem;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: none;
  background: linear-gradient(rgb(5, 77, 105), rgb(58, 187, 204));
  box-shadow: 2px 2px 2px gray;
}

.containSignIn button:hover {
  background: linear-gradient(rgb(5, 77, 105), rgb(32, 118, 129));
}
.containSignIn button img {
  width: 22px;
  height: 22px;
}
.form .forgotPassword {
  text-decoration: none;
  color: rgb(107, 107, 107);
}

.form .forgotPassword:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 699px) {
  .form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    background: white;
    border: none;
    box-shadow: none;
    position: relative;
  }

  .form label {
    font-size: 18px;
    margin-left: 0.8rem;
  }

  .form .titleResponsive {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 0;
    background-image: radial-gradient(
        circle at 40% 91%,
        rgba(50, 34, 141, 0.04) 0%,
        rgba(50, 34, 141, 0.04) 50%,
        rgba(68, 21, 203, 0.04) 50%,
        rgba(68, 21, 203, 0.04) 100%
      ),
      radial-gradient(
        circle at 66% 97%,
        rgba(36, 36, 36, 0.04) 0%,
        rgba(36, 36, 36, 0.04) 50%,
        rgba(46, 46, 46, 0.04) 50%,
        rgba(46, 46, 46, 0.04) 100%
      ),
      radial-gradient(
        circle at 86% 7%,
        rgba(40, 40, 40, 0.04) 0%,
        rgba(40, 40, 40, 0.04) 50%,
        rgba(200, 200, 200, 0.04) 50%,
        rgba(200, 200, 200, 0.04) 100%
      ),
      radial-gradient(
        circle at 15% 16%,
        rgba(99, 99, 99, 0.04) 0%,
        rgba(99, 99, 99, 0.04) 50%,
        rgba(45, 45, 45, 0.04) 50%,
        rgba(45, 45, 45, 0.04) 100%
      ),
      radial-gradient(
        circle at 75% 99%,
        rgba(243, 243, 243, 0.04) 0%,
        rgba(243, 243, 243, 0.04) 50%,
        rgba(37, 37, 37, 0.04) 50%,
        rgba(37, 37, 37, 0.04) 100%
      ),
      linear-gradient(188deg, rgb(34, 105, 237), rgb(35, 143, 175));
  }

  .form .title img {
    width: 90px;
    margin-top: 4rem;
  }
  .form .title h3 {
    font-size: 20px;
  }

  .form .titleResponsive img {
    width: 48px;
    height: 48px;
    margin-top: 0.2rem;
  }
  .form form .containPassword input {
    padding-left: 2.5rem;
    padding-right: 3rem;
    width: 13.8rem;
  }

  .containPassword img {
    position: absolute;
    width: 21px;
    margin-top: 2.7rem;
    cursor: pointer;
    margin-left: 17rem;
  }

  .form form input::placeholder {
    color: rgb(87, 87, 87);
    font-size: 18px;
  }
  .form input {
    background-position-y: 0.7rem;
    background-position-x: 0.7rem;
    background-size: 24px;
    padding-left: 2.5rem;
    background-repeat: no-repeat;
    width: 17rem;
    font-size: 19px;
    height: 3rem;
    border-radius: 4px;
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 75px;
  }

  .containSignIn button {
    width: 12rem;
    height: 2.5rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 76px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }

  .form .haveAccountResponsive {
    font-size: 17px;
    display: flex;
    margin-top: -0.5rem;
  }
  .form .haveAccountResponsive a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .form .haveAccountResponsive a:hover {
    text-decoration: underline;
  }

  .form .forgotPassword {
    font-size: 19px;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .form .titleResponsive {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 0;
    background-image: radial-gradient(
        circle at 40% 91%,
        rgba(50, 34, 141, 0.04) 0%,
        rgba(50, 34, 141, 0.04) 50%,
        rgba(68, 21, 203, 0.04) 50%,
        rgba(68, 21, 203, 0.04) 100%
      ),
      radial-gradient(
        circle at 66% 97%,
        rgba(36, 36, 36, 0.04) 0%,
        rgba(36, 36, 36, 0.04) 50%,
        rgba(46, 46, 46, 0.04) 50%,
        rgba(46, 46, 46, 0.04) 100%
      ),
      radial-gradient(
        circle at 86% 7%,
        rgba(40, 40, 40, 0.04) 0%,
        rgba(40, 40, 40, 0.04) 50%,
        rgba(200, 200, 200, 0.04) 50%,
        rgba(200, 200, 200, 0.04) 100%
      ),
      radial-gradient(
        circle at 15% 16%,
        rgba(99, 99, 99, 0.04) 0%,
        rgba(99, 99, 99, 0.04) 50%,
        rgba(45, 45, 45, 0.04) 50%,
        rgba(45, 45, 45, 0.04) 100%
      ),
      radial-gradient(
        circle at 75% 99%,
        rgba(243, 243, 243, 0.04) 0%,
        rgba(243, 243, 243, 0.04) 50%,
        rgba(37, 37, 37, 0.04) 50%,
        rgba(37, 37, 37, 0.04) 100%
      ),
      linear-gradient(188deg, rgb(34, 105, 237), rgb(35, 143, 175));
  }

  .form .titleResponsive img {
    width: 42px;
    height: 42px;
    margin-top: 0.2rem;
  }
  .form .title {
    padding-top: 0rem;
    gap: 0.4rem;
  }

  .form .title img {
    width: 83px;
    margin-top: 4rem;
  }
  .form .title h3 {
    font-size: 14px;
  }

  .form {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    background: white;
    border: none;
    box-shadow: none;
  }

  .form form {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.8rem;
    font-size: 14px;
  }

  .form input {
    padding-left: 2rem;
    width: 19rem;
    height: 2.2rem;
    font-size: 16px;
    border-radius: 75px;
    border: 2px solid rgb(204, 204, 204);
    outline: none;
  }

  .form form input::placeholder {
    color: rgb(87, 87, 87);
    font-size: 16px;
  }

  .form form input:hover {
    border: 2px solid blue;
  }

  .rowFormOne,
  .rowFormTwo {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }

  .containPassword {
    position: relative;
  }
  .containPassword img {
    position: absolute;
    width: 18px;
    margin-top: 2.3rem;
    cursor: pointer;
    margin-left: 19.4rem;
  }

  .form form .containPassword input {
    padding-left: 1.8rem;
    padding-right: 2rem;
    width: 17.2rem;
  }
  .form input {
    background-position-y: 0.5rem;
    background-position-x: 0.5rem;
    background-size: 17px;
    background-repeat: no-repeat;
  }

  .containName input {
    background-image: url("../../../assets/img/userCredent.png");
  }

  .containLastName input {
    background-image: url("../../../assets/img/userCredent.png");
  }

  .containUsername input {
    background-image: url("../../../assets/img/username.png");
    background-size: 16px;
    background-position-y: 0.5rem;
  }

  .containSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .containSignIn button {
    width: 12rem;
    font-size: 14px;
    background-color: rgb(22, 22, 153);
    height: 2rem;
    border-radius: 75px;
    margin-top: -0.5rem;
  }

  .containSignUp button:hover {
    background-color: rgb(16, 16, 207);
  }

  .form .haveAccountResponsive {
    font-size: 16px;
    display: flex;
    margin-top: -0.5rem;
  }
  .form .haveAccountResponsive a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .form .haveAccountResponsive a:hover {
    text-decoration: underline;
  }
  .form .forgotPassword {
    font-size: 16px;
    margin-top: 1rem;
  }
}
