.containFiles {
    display: flex;
    align-items: start;
    justify-content: start;
    background: rgb(255, 255, 255);
    height: 100vh;
}

.containTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    width: 95%;
    height: 100%;
    padding-top: 1rem;
}

.contentTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 87%;
    width: 97%;
    padding-bottom: 1rem;
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
}
.containTable .header {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.containTable .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 100;
    color: rgb(255, 255, 255);
    gap: 0.7rem;
    height: 2.5rem;
    width: 100%;
    background: linear-gradient(rgba(37, 112, 173), rgb(80, 170, 206));
}

.containTable .title img {
    width: 27px;
    height: 27px;
}

.containTable .containSearch {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 0.4rem;
}
.containSearch input {
    height: 2.3rem;
    width: 95%;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 3rem;
    font-size: 15px;
    outline: none;
    background-image: url("../../assets/img//searchFile.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-y: 0;
    background-position-x: 0.5rem;
}
.containSearch input:hover {
    border-bottom: 2px solid gray;
}
.scroll {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}
.containTable table {
    width: 100%;
    margin-top: 0.3rem;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

.containTable table th {
    padding: 0.6rem;
    font-weight: 100;
}

.containTable table td {
    text-align: center;
    padding: 0.4rem;
    border-top: 1px solid rgb(160, 160, 160);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21rem;
    gap: 0.5rem;
    font-size: 20px;
    color: rgb(109, 109, 109);
}

.loading img {
    width: 58px;
    height: 58px;
    opacity: 80%;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 18px;
    height: 21rem;
    color: gray;
    font-weight: bold;
}

.notFound img {
    width: 93px;
    height: 93px;
}

@media only screen and (max-width: 699px) {
    .containFiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
    }

    .containTable {
        margin-left: 0;
        margin-top: 4rem;
        width: 100%;
        height: 99%;
    }
    .containSearch input {
        width: 95%;
    }
    .contentTable {
        width: 95%;
    }
    .containTable .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 92%;
    }

    .containTable .title {
        display: none;
    }

    .containTable table th,
    .containTable table td {
        font-size: 14px;
    }

    .loading {
        font-size: 17px;
    }

    .loading img {
        width: 38px;
        height: 38px;
    }

    .notFound {
        font-size: 17px;
    }

    .notFound img {
        width: 75px;
        height: 75px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .containFiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: auto;
        padding-bottom: 2rem;
    }

    .containTable {
        margin-left: 0;
        width: 99%;
        height: 91%;
        margin-top: 5rem;
    }

    .contentTable {
        width: 99%;
    }
    .containTable .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 92%;
    }
    .containSearch input {
        width: 95%;
    }
    .containTable .title {
        display: none;
    }

    .containTable table th,
    .containTable table td {
        font-size: 14px;
    }

    .containTable table {
        width: 55rem;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 11rem;
        gap: 0.5rem;
        font-size: 20px;
        color: rgb(109, 109, 109);
    }

    .loading img {
        width: 58px;
        height: 58px;
        opacity: 80%;
    }

    .notFound {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        font-size: 20px;
        height: 21rem;
        color: gray;
        font-weight: bold;
    }

    .notFound img {
        width: 85px;
        height: 85px;
    }
}
