.rowCalendar {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0;
    width: 100%;
    height: 99vh;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 91%;
    height: 100vh;
}
.containCalendar {
    width: 94%;
    height: 91vh;
    padding: 1rem;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 4px 2px rgb(6, 98, 134);
    font-family: Arial, Helvetica, sans-serif;
}

.containCalendar .titleCalendar h3 {
    font-size: 18px;
}

.containCalendar .titleCalendar {
    display: flex;
    width: 99%;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.containCalendar .titleCalendar img {
    width: 35px;
    height: 35px;
}

.containCalendar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 0.5rem;
    gap: 1rem;
    margin-top: 0.5rem;
}

.containCalendar ul li {
    padding: 0.2rem;
    color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.containCalendar ul div {
    width: 1rem;
    height: 1rem;
    border-radius: 99%;
}

.dayDisabled {
    background: linear-gradient(rgb(255, 255, 255), rgb(231, 231, 231));
}
.dayOfTask {
    background: rgb(252, 252, 195);
}

.containCalendar .pending div {
    background-color: rgb(204, 18, 18);
}
.containCalendar .completed div {
    background-color: rgb(7, 196, 7);
}

.containCalendar .found div {
    background: rgb(243, 255, 132);
}

@media only screen and (max-width: 699px) {
    .rowCalendar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 96vh;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 0;
        justify-content: start;
        padding-bottom: 2rem;
    }
    .containCalendar {
        width: 83vw;
        height: auto;
        gap: 1rem;
        margin-left: 0;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .containCalendar .titleCalendar h3 {
        font-size: 16px;
    }

    .containCalendar .titleCalendar {
        display: flex;
        width: 99%;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }
    .containCalendar .titleCalendar img {
        width: 35px;
        height: 35px;
    }

    .containCalendar ul {
        font-size: 14px;
        margin-left: 0;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .rowCalendar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 96vh;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-left: 0;
        justify-content: start;
        padding-bottom: 2rem;
    }
    .containCalendar {
        width: 87vw;
        height: auto;
        gap: 1rem;
        margin-left: 0;
        margin-top: 6rem;
    }

    .containCalendar .titleCalendar h3 {
        font-size: 16px;
    }

  
}
