.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(184, 184, 184);
    color: rgb(85, 85, 85);
}
.pagination input {
    width: 2rem;
    text-align: center;
    color: rgb(80, 80, 80);
    border: 1px solid rgb(177, 177, 177);
    height: 1.4rem;
    outline: none;
    font-size: 15px;
}

.pagination button {
    width: 5rem;
    color: white;
    position: relative;
    height: 1.6rem;
    box-shadow: 2px 2px 2px gray;
    background: linear-gradient(rgba(37, 112, 173), rgb(80, 170, 206));
    border-radius: 22px;
}
.pagination .disabled {
    background: linear-gradient(rgb(19, 68, 109), rgb(60, 129, 156));
}
.pagination .enabled {
    cursor: pointer;
    background: linear-gradient(rgba(37, 112, 173), rgb(80, 170, 206));
}

