.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 6rem;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 11px;
  gap: 0.5rem;
  padding-right: 1rem;
}

.task .info button {
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 99px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.task .info button img {
  height: 15px;
  width: 15px;
}

.task .btnStateIncomplete,
.task .btnStateComplete {
  border: 2px solid rgb(255, 255, 255);
  background: none;
}

.task .iconCompleted,
.task .iconPending {
  cursor: pointer;
  font-size: 21px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3.7rem;
  height: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  background: linear-gradient(rgb(60, 206, 116), rgb(36, 168, 87));
}
.task .iconPending {
  background: linear-gradient(rgb(252, 85, 85), rgb(221, 79, 79));
}

.task .iconPending span,
.task .iconCompleted span {
  font-size: 28px;
}

.task .iconCompleted:hover {
  background: linear-gradient(rgb(55, 182, 104), rgb(36, 168, 87));
}

.task .iconPending:hover {
  background: linear-gradient(rgb(218, 74, 74), rgb(221, 79, 79));
}


.task .info {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 5px;
  width: 95%;
}

.task .info img {
  width: 20px;
  cursor: pointer;
}

.task .info .rowDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 85%;
}

.descriptionAndDate {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 85%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.descriptionAndDate span {
  font-size: 15px;
}

.descriptionAndDate p {
  width: 85%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task .columnTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.openMenu {
  display: none;
}

@media only screen and (max-width: 699px) {
  .task {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    width: 103%;
    height: 5.5rem;
    color: rgb(0, 0, 0);
    padding: 0;
    border-radius: 9px;
    gap: 0.8rem;
  }

  .task .info button img {
    height: 16px;
    width: 16px;
  }
  .task .info button {
    display: none;
  }

  .task .iconCompleted,
  .task .iconPending {
    font-size: 15px;
    width: 2.9rem;
    height: 5.5rem;
  }

  .descriptionAndDate {
    gap: 0.5rem;
    width: 85%;
  }

  .task .info {
    font-size: 15px;
    gap: 1rem;
    height: 100%;
  }

  .task .info img {
    width: 20px;
    cursor: pointer;
  }

  .openMenu,
  .openMenuDisplay {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 81%;
    height: 4.3rem;
    z-index: 2;
    position: absolute;
  }

  .openMenuDisplay {
    animation-name: displayMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes displayMenu {
    from {
      width: 81%;
    }
    to {
      width: 72%;
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .task {
    height: 5.5rem;
  }
  .task .iconCompleted,
  .task .iconPending {
    font-size: 14px;
  }
}
