.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 6rem;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 11px;
  gap: 0.5rem;
  padding-right: 1rem;
}

.task .info button {
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 99px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.task .info button img {
  height: 15px;
  width: 15px;
}

.task .icon {
  font-size: 21px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3.7rem;
  margin-left: 1rem;
  height: 3.7rem;
  border-radius: 99%;
  background: linear-gradient(rgb(118, 181, 240), rgb(23, 71, 110));
}

.task .icon span {
  font-size: 28px;
}

.task .stateCompleted,
.task .statePending {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-weight: bold;
}

.task .stateCompleted button,
.task .statePending button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 99%;
  border: none;
  width: 1.7rem;
  height: 1.7rem;
}
.task .stateCompleted button img,
.task .statePending button img {
  width: 23px;
  height: 23px;
}

.task .stateCompleted button:hover,
.task .statePending button:hover {
  transform: scale(1.1);
}

.task .statePending {
  color: red;
}

.task .stateCompleted {
  color: rgb(9, 202, 41);
}

.task .info {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 5px;
  width: 95%;
}

.task .info img {
  width: 20px;
  cursor: pointer;
}

.task .info .rowDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 85%;
}

.descriptionAndDate {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
  width: 85%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.descriptionAndDate span {
  font-size: 15px;
}

.descriptionAndDate p {
  width: 85%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuTask {
  display: flex;
  justify-content: center;
  align-items: center;
}
.openMenu {
  display: none;
}

@media only screen and (max-width: 699px) {
  .task {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 107%;
    height: auto;
    color: rgb(0, 0, 0);
    padding: 0;
    border-radius: 9px;
    gap: 0.1rem;
  }

  .task .icon {
    margin-left: 0.7rem;
    padding: 1.7rem;
    width: 0;
    height: 0;
    background: linear-gradient(rgb(118, 181, 240), rgb(23, 71, 110));
  }

  .task .icon span {
    font-size: 23px;
  }

  .task .info button img {
    height: 23px;
    width: 23px;
  }
  .task .info button {
    display: none;
  }

  .task .info {
    font-size: 15px;
    gap: 1rem;
    height: 100%;
  }
  .descriptionAndDate {
    gap: 0.5rem;
    width: 85%;
  }

  .task .stateCompleted button,
  .task .statePending button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 99%;
    border: none;
    width: 1.7rem;
    height: 1.7rem;
  }
  .task .stateCompleted button img,
  .task .statePending button img {
    width: 19px;
    height: 19px;
  }

  .menuTask {
    height: 94%;
  }

  .openMenu,
  .openMenuDisplay {
    display: flex;
    height: 87%;
    justify-content: center;
    align-items: end;
  }

  .openMenu img,
  .openMenuDisplay img {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .task {
    height: 5.5rem;
  }
  .task .iconCompleted,
  .task .iconPending {
    font-size: 14px;
  }
}
