.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    margin-left: 0;
    background: linear-gradient(rgb(36, 36, 36), rgb(43, 42, 42));
    clip-path: ellipse(100% 76% at 50% 100%);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 5rem;
}

.contact span {
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.contact li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 99%;
    background-color: rgb(68, 68, 68);
}

.contact li:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.contact li img {
    width: 27px;
    height: 27px;
}

.rowFooter {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.copyright a {
    color: white;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

.containHelp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containHelp button {
    cursor: pointer;
    width: 9rem;
    height: 2.8rem;
    border: none;
    font-weight: bold;
    font-size: 17px;
    color: rgb(14, 110, 173);
    background-color: white;
    border-radius: 45px;
    gap: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.containHelp button img {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.containHelp button:hover {
    background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 699px) {
    .footer {
        clip-path: ellipse(100% 90% at 50% 100%);
    }

    .contact {
        margin-top: 3rem;
    }

    .rowFooter {
        margin-top: 1rem;
        gap: 1rem;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.6rem;
    }

    .containHelp {
        justify-content: center;
        width: 100%;
    }

    .containHelp button {
        width: 11rem;
        height: 2.8rem;
        margin-top: 0.5rem;
        margin-right: 0;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .contact {
        margin-top: 3rem;
    }
    .footer {
        clip-path: ellipse(100% 90% at 50% 100%);
    }

    .rowFooter {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.6rem;
        font-size: 18px;
    }

    .containHelp {
        justify-content: center;
        width: 100%;
    }

    .containHelp button {
        width: 11rem;
        height: 2.8rem;
        margin-top: 0.5rem;
        margin-right: 0;
    }
}
