.form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  height: auto;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 2rem;
  background-color: white;
  border-radius: 8px;
}

.form .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 0.5rem;
  gap: 1rem;
  color: white;
}

.form .title img {
  width: 31px;
}

.form .navBar {
  width: 106.7%;
  background: linear-gradient(188deg, rgb(95, 146, 240), rgb(26, 118, 146));
  display: flex;
  height: 2.5rem;
  align-items: start;
  justify-content: center;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.form .containBtnClose {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
}
.form .containBtnClose button {
  height: 1.5rem;
  width: 3rem;
  background: linear-gradient(rgb(228, 87, 87), rgb(189, 5, 5));
  color: white;
  border-radius: 0;
  cursor: pointer;
  margin-top: 0;
  box-shadow:
    inset 1px -1px 0 rgba(255, 255, 255, 0.4),
    inset -1px 0 0 rgba(255, 255, 255, 0.4),
    inset 0 1px 0 #fff,
    -1px 1px 0 rgba(118, 29, 16, 0.8),
    1px 0 0 rgba(118, 29, 16, 0.9);
}

.form .containBtnClose button:hover {
  background: linear-gradient(rgb(212, 75, 75), rgb(189, 5, 5));
}

.form .containInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  margin-top: 1rem;
}
.form label {
  font-size: 16px;
}

.form input {
  border: 1px solid rgb(124, 124, 124);
  padding-left: 2rem;
  width: 14.5rem;
  height: 2rem;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-x: 0.4rem;
  background-position-y: 0.5rem;
}
.form input:hover {
  border: 2px solid rgb(46, 122, 194);
}

.form .inputEmail {
  background-image: url("../../../assets/img/email.png");
  background-size: 21px;
  background-position-y: 0.3rem;
}

.form .inputNewEmail {
  background-image: url("../../../assets/img/newEmail.png");
  background-size: 22px;
}

.form .inputPassword {
  background-image: url("../../../assets/img/lock.png");
  background-position-x: 0.4rem;
  padding-right: 2rem;
  width: 12.6rem;
}

.containPassword .viewPassword {
  width: 17px;
  position: absolute;
  margin-top: 2.2rem;
  margin-left: 15rem;
  cursor: pointer;
}

.form .containEmail,
.containNewEmail,
.containPassword {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  position: relative;
}
.alertErrorInput {
  color: red;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  position: absolute;
  margin-top: 3.9rem;
  margin-left: 0.2rem;
}

.alertErrorInput img {
  width: 15px;
  height: 15px;
}
.form .containButton button {
  font-size: 17px;
  font-weight: bold;
  width: 12rem;
  height: 2rem;
  border-radius: 99px;
  color: white;
  margin-top: 1rem;
  background: linear-gradient(188deg, rgb(34, 105, 237), rgb(35, 143, 175));
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form .containButton button:hover {
  background: linear-gradient(188deg, rgb(34, 105, 237), rgb(25, 109, 134));
}

.form .error {
  color: red;
  font-size: 15px;
}

@media only screen and (max-width: 699px) {
  .form {
    width: 84%;
  }

  .form .title {
    font-size: 17px;
    gap: 1rem;
  }

  .form .title img {
    width: 31px;
  }

  .form label {
    font-size: 15px;
  }

  .form input {
    width: 14.5rem;
    height: 2.2rem;
    font-size: 14px;
    background-position-x: 0.4rem;
    background-position-y: 0.5rem;
  }

  .form .inputEmail {
    background-position-y: 0.5rem;
  }

  .containPassword .viewPassword {
    width: 17px;
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 15rem;
    cursor: pointer;
  }

  .alertErrorInput {
    margin-top: 4.2rem;
    margin-left: 0.2rem;
  }

  .alertErrorInput img {
    width: 15px;
    height: 15px;
  }

  .form .error {
    color: red;
    font-size: 15px;
  }

  .form .navBar {
    width: 110%;
  }

  .form .containBtnClose {
    width: 96%;
  }
  .navBar button {
    height: 2rem;
    width: 1.8rem;
    background-color: rgb(223, 0, 0);
    color: white;
    margin-top: -1rem;
    border-radius: 0;
    cursor: pointer;
  }

  .navBar button:hover {
    background-color: rgb(201, 3, 3);
  }
  .form .containButton button {
    font-size: 16px;
    font-weight: bold;
    width: 11rem;
    height: 2rem;
    border-radius: 99px;
    color: white;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .form {
    margin-top: 5rem;
  }
}
