.containPaginationHide {
    display: none;
}

.containPaginationShow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    background-color: white;
    color: rgb(112, 112, 112);
    height: 3rem;
    margin-top: 0;
}

.containPaginationShow li,
.index input {
    list-style: none;
    padding: 0.3rem;
    width: 1.5rem;
    color: rgb(112, 112, 112);
    text-align: center;
    border: 1px solid rgb(184, 184, 184);
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.index input {
    outline: none;
    text-align: center;
}

.containPaginationShow button {
    background: linear-gradient(rgb(88, 157, 202), rgb(48, 91, 167));
    position: relative;
    border: none;
    box-shadow: 2px 2px 2px gray;
    width: 6rem;
    height: 1.6rem;
    display: flex;
    color: white;
    border-radius: 44px;
    align-items: center;
    justify-content: center;
}

.containPaginationShow button img {
    width: 25px;
    height: 25px;
    opacity: 41%;
}


.btnNextEnabled:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: none;
}
