.containTask{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-top: 2rem;
  height: 25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.noFound {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 60%;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
}

.noFound img {
  width: 180px;
}

.noFoundHide {
  display: none;
}

.loadingHide {
  display: none;
}

.loadingShow {
  font-size: 25px;
  color: rgb(0, 3, 194);
  opacity: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;


}

.alert{

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 0.5rem;
  background:white;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 1rem;
  width: 20rem;
  font-weight: bold;
  font-size: 20px;
}

.alert img{

  width: 50px;

}

.alert button{
  padding: 0.3rem;
  border-radius: 3px;
  background-color: rgb(42, 0, 194);
  color:white;
  border: none;
  width: 8rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px gray;
  font-size: 18px;
}

.alert button:hover{
  background-color: rgb(41, 5, 172);
}