.containAlert {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid grey;
  border-bottom: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px grey;
  border-radius: 3px;
  color: black;
  position: absolute;
  background-color: white;
  z-index: 1;
  margin: auto;
  top: -15rem;
  padding: 1rem;
  animation-name: showAlert;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showAlert {
  from {
    top: -15rem;
  }

  to {
    top: 2rem;
  }
}
.containAlert img {
  width: 22px;
}

.containAlert p {
  width: 27rem;
}

.containAlert a {
  font-weight: bold;
}

@media (min-width: 375px) and (max-width: 478px) {
  @keyframes showAlert {
    from {
      top: -15rem;
    }

    to {
      top: 1rem;
    }
  }

  .containAlert p {
    width: 17rem;
  }
}

@media (min-width: 667px) and (max-width: 915px) {
  .containAlert {
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    margin-top: -15rem;
    padding: 1rem;
    position:static;
    animation-name: showAlert;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes showAlert {
    from {
      margin-top: -15rem;
    }

    to {
      margin-top: 11rem;
    }
  }

  
}
