.containAlert {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid grey;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(41, 41, 41);
  border-radius: 3px;
  color: black;
  text-align: center;
  position: absolute;
  background-color: white;
  z-index: 1;
  margin: auto;
  width: auto;
  padding: 0.5rem;
  top: -15rem;
  animation-name: showAlert;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showAlert {
  from {
    top: -15rem;
  }

  to {
    top: 1rem;
  }
}
.containAlert img {
  width: 22px;
}

.containAlert .rowAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.containAlert button {
  width: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  cursor: pointer;
  height: 1.5rem;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  border: none;
}

.containAlert .btnRed {
  background: linear-gradient(rgb(209, 12, 12), rgb(180, 47, 47));
}
.containAlert .btnRed:hover {
  background: linear-gradient(rgb(209, 12, 12), rgb(153, 39, 39));
}

.containAlert .btnGreen {
  background: linear-gradient(rgb(24, 153, 67), rgb(41, 156, 80));
}

.containAlert .btnGreen:hover {
  background: linear-gradient(rgb(24, 153, 67), rgb(26, 117, 56));
}

@media only screen and (max-width: 699px) {
  @keyframes showAlert {
    from {
      top: -15rem;
    }

    to {
      top: 1rem;
    }
  }

  .containAlert p {
    width: 17rem;
  }
  .containAlert img {
    width: 28px;
  }
}
