.contentForm {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 3rem;
  width: 81%;
  background-color: white;
  border-radius: 5px;
}

.bodyForm {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: start;
  align-items: start;
}

.columnOne,
.columnTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.bodyForm .rowForm {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
}

.bodyForm input {
  width: 13.4rem;
  height: 2.2rem;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
  padding-left: 1rem;
  font-size: 15px;
}

.bodyForm input:hover {
  border: 2px solid rgb(7, 111, 143);
}

.name,
.description,
.icon,
.contentDatetimeNotification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}

.dateTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.datetimeNotification {
  width: 95%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.datetimeNotification a {
  font-size: 13px;
  color: gray;
}
.datetimeNotification input {
  width: 14rem;
  height: 2.2rem;
}
.containLabelDatetimeNotification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

input[type="checkbox"] {
  border-radius: 50px;
  width: 1rem;
  height: 1rem;
}

.containFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 0;
  width: 31rem;
  height: 19rem;
  border-radius: 6px;
  border: 1px solid gray;
  font-size: 13px;
  position: relative;
}

.containFile img {
  width: 64px;
  height: 64px;
  opacity: 76%;
}

.containFile label {
  cursor: pointer;
  color: gray;
  font-size: 15px;
}
.containFile label:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.containFile button {
  width: 12rem;
  height: 2rem;
  background-color: rgb(7, 111, 143);
  border: none;
  border-radius: 45px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.containFile button:hover {
  background-color: rgb(13, 106, 134);
}

.containFile button img {
  width: 21px;
  height: 21px;
}

.containFile input[type="file"] {
  display: none;
}

.containFile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 103%;
  gap: 0.4rem;
  margin-top: 1.5rem;
  height: 44%;
  overflow-y: scroll;
}

.containFile .notFilesUploaded {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 15px;
  color: gray;
}

.containFile li {
  border-top: 1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 1px gray;
  background: linear-gradient(rgb(245, 245, 245), rgb(189, 189, 189));
  color: black;
  width: 98%;
  height: 2rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.containFile .rowFile {
  display: flex;
  align-items: center;
  width: 75%;
  gap: 0.4rem;
  justify-content: start;
}
.containFile .rowFile span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.containFile li img {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}

.containFile li button {
  width: 1.6rem;
  height: 1.6rem;
  background:none;
  border-radius: 3px;
  box-shadow: none;
  margin-top: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.containFile li button:hover {
  background: none;
}

.containFile li button img {
  height: 25px;
  width: 25px;
  opacity: 100%;
  margin-left: 0;
}

.bodyForm textarea {
  width: 30rem;
  height: 5rem;
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.bodyForm textarea:hover {
  border: 2px solid rgb(15, 99, 124);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -0.5rem;
}

.buttons button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 9.5rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 56px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
  background-color: rgb(7, 111, 143);
}

.buttons .btnDisabled {
  background-color: rgb(11, 70, 88);
}
.buttons .btnDisabled:hover {
  background-color: rgb(11, 70, 88);
  cursor: auto;
}
.buttons button:hover {
  background-color: rgb(15, 99, 124);
}

@media only screen and (max-width: 699px) {
  .bodyForm {
    gap: 1.5rem;
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bodyForm .rowForm {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
  }

  .bodyForm input {
    width: 10rem;
    height: 2.2rem;
    font-size: 15px;
  }

  .bodyForm .icon input {
    width: 5rem;
  }

  .datetimeNotification input {
    width: 11rem;
    height: 2.2rem;
  }

  .containLabelDatetimeNotification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  input[type="checkbox"] {
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
  }
  .columnTwo {
    width: 99%;
  }
  .containFile {
    width: 98%;
    height: 15rem;
    margin-top: 1rem;
    font-size: 14px;
  }
  .containFile img {
    width: 48px;
    height: 48px;
  }
  .containFile span {
    font-size: 13px;
  }
  .containFile ul {
    height: 100%;
  }

  .containFile .notFilesUploaded img {
    width: 37px;
    height: 37px;
  }

  .bodyForm textarea {
    width: 18rem;
    height: 5rem;
  }

  .buttons button {
    width: 8rem;
    font-size: 15px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .contentForm {
    width: auto;
  }
  .bodyForm {
    gap: 2rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bodyForm .rowForm {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
  }

  .bodyForm .icon input {
    width: 5rem;
  }
  .bodyForm input {
    width: 11rem;
    height: 2.2rem;
    font-size: 15px;
  }

  .datetimeNotification input {
    width: 14rem;
    height: 2.2rem;
  }

  .containLabelDatetimeNotification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  input[type="checkbox"] {
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
  }
  .columnTwo {
    width: 99%;
  }
  .containFile {
    width: 19rem;
    height: 17rem;
    margin-top: 1rem;
  }

  .containFile ul {
    height: 100%;
  }

  .containFile ul img {
    width: 25px;
    height: 25px;
  }

  .bodyForm textarea {
    width: 17rem;
    height: 5rem;
  }

  .buttons button {
    width: 8rem;
    font-size: 15px;
  }
  .containFile .notFilesUploaded img {
    width: 45px;
    height: 45px;
  }
}
